DEBUG=True

SECRET_KEY=dev-secret-key-change-later

# main database
DATABASE_ENGINE="django.db.backends.postgresql"
DATABASE_NAME=challenge_db
DATABASE_USER=challenge_user
DATABASE_PASSWORD=challenge_password
DATABASE_HOSTNAME=localhost
DATABASE_PORT=5434

# Storage system
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin123
STORAGE_BUCKET=challenge-files
STORAGE_REGION=us-east-1
STORAGE_USE_SSL=False

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1